.jumbotron{
  padding: 0.5rem;

}

.jumbotron select{
margin: 0.5rem;
}

.router-link-exact-active{
/*z-index: 2;*/
/*
color: #fff;
background-color: #007bff;
border-color: #007bff;
*/
}



/* https://jsfiddle.net/ann7tctp/
*/





.list-group-item{
padding: 0.5rem 0.75rem;
}

.list-group-item.active .list-group.collapse{
display: inherit;
margin: 0.5rem -0.75rem -0.5rem -0.75rem;
}
.list-group-item.active .list-group.collapse .list-group-item{
padding-left: 1.8rem;
}


.list-group.list-group-root .list-group-item {
border-radius: 0;
/*border-width: 1px 0 0 0;*/
}



