<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet" type="text/css" />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="css/app.css" rel="stylesheet" type="text/css" />
    <!--
<script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
      integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"
      integrity="sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw=="
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.4.3/vue-router.min.js"
      integrity="sha512-mVyZZ423iwLddhRdWCJeQSysHfnDZZPJRlY9HJI6/39e6D8Myz3nQCelJmSMOf8MOreTzWDmh8bYftrBnTau1Q=="
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.4.2/src/httpVueLoader.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
      integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"
      integrity="sha256-qoN08nWXsFH+S9CtIq99e5yzYHioRHtNB9t2qy1MSmc="
      crossorigin="anonymous"></script>
    <!-- Wowhead tootips -->
    <script>const whTooltips = {colorLinks: false, iconizeLinks: false, renameLinks: false};</script>
    <script src="https://wow.zamimg.com/widgets/power.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async
      src="https://www.googletagmanager.com/gtag/js?id=G-CD462ZBMPC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CD462ZBMPC');
    </script>
    <title>魔獸拍賣場看板</title>
  </head>
  <body>
    <div id="app" class="container">
      <div class="jumbotron">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <span class="nav-link" style="font-size: 24px; color: Dodgerblue;"><i
                class="fab fa-battle-net"></i> <router-link to="/">魔獸拍賣場看板
                (TW-巨龍崛起)</router-link></span>
          </li>
          <li class="nav-item ml-auto">
            <span class="nav-link" style="font-size: 18px;">
              <i class="fas fa-search"></i> <input type="text"
                v-model="SearchItemName" style="margin-left: 5px;">
            </span>

          </li>
        </ul>
      </div>

      <div class="row">
        <!-- ItemClasses -->
        <div class="col-md-3">
          <div class="list-group list-group-root">
            <div class="list-group-item list-group-item-action"
              data-toggle="collapse" v-for="i in
              ItemClasses" :key="i.id"
              @click.self="selectItemClass(i.item_class_id,i.item_class_name)"
              v-bind:class="{ 'active': i.item_class_name ==
              Select.ItemClassName }">
              <i class="fas" v-bind:class="{'fa-plus': i.item_class_name !=
                Select.ItemClassName, 'fa-minus': i.item_class_name ==
                Select.ItemClassName}"></i> {{ i.item_class_name }}
              <div class="list-group collapse">
                <router-link class="list-group-item list-group-item-action"
                  v-for="j in
                  i.item_subclass" :key="j.id"
                  :to="{params:{ItemClass:Select.ItemClass,ItemSubClass:Select.ItemSubClass},name:'itemSubClass'}"
                  @click.native="selectItemSubClass(j.item_subclass_id,j.item_subclass_name)"
                  v-bind:class="{ 'active':
                  j.item_subclass_name ==
                  Select.ItemSubClassName }">{{ j.item_subclass_name }}</router-link>
              </div>
            </div>
          </div>
        </div>
        <!-- Statics Data -->
        <div class="col-md-9">
          <div class="row" v-if="SearchItemName">
            <div class="col-md-12">
              <h2>Search Results:</h2>
              {{SearchItemRecords.length > 0 ? '':'查無資料'}}
            </div>            
            <router-link class="col-md-4" v-for="item in SearchItemRecords"
              :to="{
              params:{ItemClass:item.item_class_id,ItemSubClass:item.item_subclass_id,Item:item.id},
              name:'Stat'}" @click.native.self="selectItem(item.id,item.name)"
              v-bind:key="item.id">{{item.name}} ({{item.level}})</router-link>
          </div>
          <div class="row" v-if="!$route.params.Item">
            <div class="col-md-12" v-if="$route.params.ItemSubClass != null">
              <h2>Item Class Items:</h2>
            </div>
            <router-link class="col-md-4" v-for="item in ItemRecords"
              :to="{
              params:{ItemClass:item.item_class_id,ItemSubClass:item.item_subclass_id,Item:item.id},
              name:'Stat'}" @click.native.self="selectItem(item.id,item.name)"
              v-bind:key="item.id">{{item.name}} ({{item.level}})</router-link>
          </div>
          <router-view></router-view>
        </div>
      </div>

    </div>
    <script src="js/app.js"></script>
  </body>

</html>
